---
http_interactions:
- request:
    method: post
    uri: https://events.pagerduty.com/v2/enqueue
    body:
      encoding: UTF-8
      string: '{"routing_key":"PAGER_DUTY_API_INTEGRATION_TOKEN","event_action":"trigger","payload":{"summary":"Incident
        description","source":"source info","severity":"error","custom_details":{"backtrace":"log"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","message":"Event processed","dedup_key":"f7603b226f1d4fc69b7ff77fd1fc351a"}'
  recorded_at: Tue, 24 Jul 2018 12:40:58 GMT
recorded_with: VCR 3.0.3
