---
http_interactions:
- request:
    method: post
    uri: https://events.pagerduty.com/generic/2010-04-15/create_event.json
    body:
      encoding: UTF-8
      string: '{"service_key":"PAGER_DUTY_API_INTEGRATION_TOKEN","event_type":"trigger","incident_key":"INCIDENT_KEY","description":"Incident
        description"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","message":"Event processed","incident_key":"INCIDENT_KEY"}'
  recorded_at: Mon, 08 Aug 2016 10:25:31 GMT
recorded_with: VCR 3.0.3
