---
http_interactions:
- request:
    method: post
    uri: https://events.pagerduty.com/v2/enqueue
    body:
      encoding: UTF-8
      string: '{"routing_key":"PAGER_DUTY_API_INTEGRATION_TOKEN","event_action":"trigger","payload":{"summary":"Incident
        description","severity":"warning","source":"source info","custom_details":{"backtrace":"log"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","message":"Event processed","dedup_key":"4a820d9dff4f44cf996789f0b1d3e1df"}'
  recorded_at: Thu, 22 Feb 2018 13:10:14 GMT
recorded_with: VCR 3.0.3
