---
http_interactions:
- request:
    method: post
    uri: https://events.pagerduty.com/v2/enqueue
    body:
      encoding: UTF-8
      string: '{"routing_key":"PAGER_DUTY_API_INTEGRATION_TOKEN","event_action":"trigger","payload":{"summary":"Incident
        description","severity":"error","source":null,"custom_details":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"invalid event","message":"Event object is invalid","errors":["''payload.source''
        is missing or blank"]}'
  recorded_at: Thu, 22 Feb 2018 13:13:03 GMT
recorded_with: VCR 3.0.3
